/* === HTML elements decoration === */
.irt-species, .irt-reaction, .irt-compartment {
  cursor: pointer;
}

div.irt-species:hover, div.irt-reaction:hover, div.irt-compartment:hover {
  border-color: #f00!important;
}

div.irt-species {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 12px;
  padding: 10px;
  margin: 4px;
}

div.irt-reaction{
  background-color: #fff;
  border: 1px solid #000;
  border-style: solid hidden solid hidden;
  padding: 10px;
  margin: 4px;
  font-weight: bold;
}

div.irt-compartment {
  background-color: #fff;
  border: 3px dashed #aaa!important;
  border-radius: 8px;
  background-image: none!important;
  padding: 5px 5px 40px 40px;
  margin: 4px;
}

div.irt-reaction::before, div.irt-species::before, div.irt-compartment::before{
  content: "\f096\00A0";
  opacity: 0;
}

div.irt-included{
  border-color: #008000;
  border-width: 2px;
  background-image: url("hatchGreenTwo.png");
  margin-top: 3px; margin-bottom: 3px;
}

div.irt-reaction.irt-included{
  margin-top: 3px; margin-bottom: 3px;
  background-image: url("hatchGreenBoth.png");
}

div.irt-species.irt-included{
  margin: 3px;
}

div.irt-included::before{
  content: "\f046\00A0";
}

div.irt-chosen {
  border-color: #f00!important;
  border-width: 2px;
}

div.irt-reaction.irt-chosen {
  margin-top: 3px; margin-bottom: 3px;
}

div.irt-species.irt-chosen {
  margin: 3px;
}

div.irt-chosen::before{
  opacity: 1;
}

text {
  font-family:sans-serif;
}
/* === Right panel === */

div.irt-favorite {
  display: none;
  padding: 5px;
  font-weight: bold;
}

div.irt-favorite::before {
  content: "";
}

div.irt-favorite.irt-included {
  display: inline-block;
}

/* === SVG elements decoration === */
svg text {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
svg text::selection {
    background: none;
}
/* species */
g.irt-species rect{
  fill: #fff;
  stroke: #000;
}

g.irt-species.irt-cells rect{
  stroke: #0cc;
  fill: #cff;
}

/* reaction */
g.irt-reaction path{
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

g.irt-reaction path:nth-child(2){
  fill: #000;
  stroke-width: 1px;
}

g.irt-reaction circle{
  fill: #fff;
  stroke: #000;
  stroke-width: 2px;
}

g.irt-reaction.irt-cells path, g.irt-reaction.irt-cells circle{
  stroke: #0cc;
  fill: #cff;
  stroke-width: 1px;
}

/* included */
pattern path{
  stroke: #008000;
  opacity: 0.5;
}

g.irt-included rect, g.irt-included circle, g.irt-included path{
  stroke: #008000;
  stroke-width: 2px;
}

g.irt-included path:nth-child(2){
  fill: #008000;
}

g.irt-reaction.irt-cells.irt-included path, g.irt-reaction.irt-cells.irt-included circle{
  stroke: #008000;
  stroke-width: 2px;
}

g.irt-included path{
  stroke: #008000;
  stroke-width: 2px;
}

g.irt-included rect:last-of-type{ 
  fill: url(#hatchTwo);
  stroke: #008000;
} 

g.irt-included circle:nth-of-type(2), g.irt-included.irt-cells path:nth-of-type(2){ 
  fill: url(#hatchBoth);
  stroke: #008000;
} 

g.irt-included.irt-cells rect:last-of-type{ 
  fill: url(#hatchOne);
}

/* touched and chosen */
g.irt-touched rect , g.irt-touched circle, g.irt-touched path{
  stroke: #f00!important;
}

g.irt-chosen rect, g.irt-chosen circle, g.irt-chosen path, g.irt-chosen.irt-reaction path, g.irt-chosen.irt-reaction circle{
  stroke: #f00!important;
  stroke-width: 2px;
}

/* regulation */
g.irt-regulation path{
  stroke-dasharray: 6,4;
  stroke-width: 1px;
}

g.irt-regulation path:last-child{
  stroke-dasharray: none;
  stroke-width: 1px;
  fill: #fff;
}

/* compartment */
g.irt-compartment rect, g.irt-compartment.irt-included rect{
  fill: none;
  stroke-width: 3px;
  stroke-dasharray: 30,10;
  stroke: #aaa;
}

.hidden {
  display: none;
  fill: #fff;
  stroke: #fff;
}

/* === other HTML elements === */
.my-no-decoration {
  cursor: pointer;
}

#tip{
  display: none;
  position: absolute;
  max-width: 300px;
  padding: 0px 0px 0px 5px;
  background: #eeeeee;
  border: solid 1px gray; 
  z-index: 100;
  border-radius: 5px;
}
#tip p, #tip h4{
  font-size: 14px;
  font-family: "Arial";
}
#description1{
  background: #eeeeee;
  font-size: 14px;
}

/* INFO BLOCK */
a.extLink:link, a.extLink:visited{
  color: black;
  cursor: alias;
}

a.extLink:hover, a.extLink:active{
  color: red;
  cursor: alias;
}

p.title0{
  text-align: right;
}

span.forDropDown{
  border-bottom: 2px dashed;
  cursor:pointer;
  font-weight: bolder;
}

hr.hrInfo{
  border-style: solid;
  border-color: gray;
  border-width: 1px 0 0 0;
}

span.schemeLink{
  border-bottom: 1px solid;
  cursor:pointer;
}

.descriptionTab {
  border: 0px;
  border-spacing: 0px;
  border-collapse: collapse;
}

.descriptionTab td{
  border: 0px;
  border-bottom: 1px solid #666;
  border-collapse: collapse;
  padding: 5px;
  vertical-align: top;
}

.equationTable {
  border: 0px;
  border-collapse: collapse;
  padding: 5px;
}

.equationTable tr, .equationTable td {
  border: 0px;
}

td.first {
  vertical-align: top;
  text-align: right;
}

td.second {
  vertical-align: top;
}

td.third {
  vertical-align: top;
  text-align: left;
}