---
---

@import "{{ site.theme }}";

img {
  max-width: 100%;
}
/*
#project_tagline{
  font-size: 28px;
}
*/
#online_banner {
  display: block;
  position: absolute;
  top:0;
  right: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: url('../images/logo_irt_30x30.png') #634c7b no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

#header_wrap{
  background: #f2f2f2 url("../images/template209.jpg");
}

#footer_wrap{
  background: #f2f2f2 url("../images/template209.jpg");
}

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

ul.share-buttons img{
  width: 32px;
}

/* tables */
table.version-buttons{
  width:100%;
  border-width: 0px;
  text-align: center;
  font-weight: bold;
}

td{
  border-width: 0px;
  width:50%;
}
